### Question 1

'hello',-87.8 and 6 are literals. The former is a string literal and latter two are floating point and integer literals respectively.

Mathematical operators in Python are * , - , / , +

### Question 2

A string literal is a datatype in Python. For example - "apple"
String literals are values that enclosed within single, double or triple quotes.

A variable is a named memory location holding a data value of a specific data type
For example - a = "apple". Here a is the variable holding a string of value "apple"

### Question 3

Integer : Integer datatypes basically consist of positive and negative numbers (non decimal numeric values). There cannot be decimal points in Integer datatypes.

Boolean : Consists of two values True or False.

String : Consists of a set of characters that are enclosed within single, double or triple quotes.

### Question 4

An expression is a combination of one or more operators and operands. The operands can be any data value of any data type.

For example : True + 1
The above expression will be evaluated to be 2.

True is a datavalue of Boolean datatype.
1 is a datavalue of Integer datatype.
The above two are the operands.
\+ is the addition operator.

The combination of the operators and operands form the expression.

In [1]:
True + 1

2

### Question 5

In [3]:
spam = 10
spam

10

Here the data value 10 is assigned to the variable spam

In [4]:
spam = True + 1
spam

2

The above expression True + 1 is evaluated and the assignement operator (=) assigns the value of the expression to the variable spam (The value of the variable spam is reassigned).

A statement executes something. For example - print statement, if statement.
Every statement is an expression but every expression is not a statement.

### Question 6

In [5]:
bacon = 22
bacon+1

23

In [7]:
bacon # The value of the variable is not affected since it has not been reassigned

22

### Question 7

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam'*3

'spamspamspam'

Both expressions evaluate to the same value

### Question 8

100 is an invalid variable name because it is an Integer (starts with  a number).

A varible name cannot start with a number in Python. Only alphabets and underscore(_) can be used to start variable names in Python. 

100 being an Integer literal conveys a different meaning to the interpreter.

In [10]:
a100 = 100
_100 = 100

### Question 9

In [11]:
val = 10

In [12]:
float(10)

10.0

In [13]:
int(10)

10

In [14]:
str(10)

'10'

### Question 10

In [15]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

The above expression raises an error because it is trying to concatenate a string literal to an integer literal

In [18]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'

In [20]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

Converting 99 to an string solves the issue.